<!DOCTYPE html>
 {% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to MedGPT</title>
{#    <link rel="stylesheet" href="{% static 'users/index.css' %}">#}
    <link rel="stylesheet" href="medgpt/medgpt/static/users/css/index.css">
</head>
<body>
    <div class="container">
        <h1 class="title">Welcome To MedGPT</h1>
        <p class="subtitle">The Ultimate Home Medical Solution</p>
        <div class="buttons">
            <a href="register" class="btn">Register</a>
            <a href="login" class="btn">Login</a>
        </div>
    </div>
</body>
</html>
